h1 {
  text-decoration: underline;
  font-family: lucida console;
}
h2 {
  font-family: lucida console;
  text-decoration: underline;
  text-align: center;
}
h3 {
  font-family: lucida console;
  text-decoration: underline;
}
h4 {
  font-family: lucida console;
  text-decoration: underline;
}
html {
  background-color: #D3D3D3;
}
figcaption {
  text-align: center;
  font-style: italic;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  max-width: auto;
  margin: auto;
  font-family: verdana;
}
ul{
  font-family: verdana;
}
video {
  text-align: center;
}
