h1 {
  text-decoration: underline;
  font-family: papyrus;
}
h2 {
  font-family: papyrus;
  text-decoration: underline;
}
h3 {
  font-family: papyrus;
  text-decoration: underline;
}
h4 {
  font-family: papyrus;
  text-decoration: underline;
}
html {
  background-color: #D3D3D3;
}
figcaption {
  text-align: center;
  font-style: italic;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  max-width: auto;
  margin: auto;
}
h2 {
  text-align: center;
}
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
